html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#app {
  font-family: Montserrat;
  line-height: 1.5;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-50 {
  font-size: 50px;
}
